html,body {
  pointer-events: none;
  background: transparent;
  user-select: none;
}


.circle_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*-webkit-app-region: drag;*/
  pointer-events: auto;
  border-radius: 50%;
  background-color: #9022af;
  border: none;
  font-size: 16px;
  color: white;
  box-shadow: 0 4px #bbbcbd;
  transition: all 0.3s ease;
}


/* 鼠标悬停时的效果 */
.circle_box:hover {
  /* 改变阴影以实现按下的效果 */
  box-shadow: 0 2px #2980b9;

  /* 轻微移动按钮以实现按下的效果 */
  /*transform: translateY(2px);*/
}

.circle_box:active {
  cursor: move;
}
